* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: url(https://www.spacex.com/static/images/backgrounds-new/Desktop_StarL19_DSC_1291.webp) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  width: 100%;
}

.logo {
  width: 25%;
  height: 10px;
  position: relative;
  top: 55px;
  left: 200px;
  color: white;
  z-index: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.navigation1 {
  width: 50%;
  height: 10vh;
  position: relative;
  left: 400px;
  color: white;
  z-index: 1;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  font: 14px D-DIN-Medium,Arial,Verdana,sans-serif;
  font-weight: 700;
  font-style: normal;
}

.navigation2 {
  width: 10%;
  height: 10px;
  color: white;
  z-index: 1;
  position: relative;
  right: -650px;
  align-items: center;
  justify-content: flex-end;
  font: 14px D-DIN-Medium,Arial,Verdana,sans-serif;
  font-weight: 700;
  font-style: normal;
  
}

.navigation3 {
  width: 10%;
  height: 10px;
  color: white;
  z-index: 1;
  position: relative;
  right: -600px;
  align-items: center;
  justify-content: flex-end;
  font: 14px D-DIN-Medium,Arial,Verdana,sans-serif;
  font-weight: 700;
  font-style: normal;
}

#hamburger1, #hamburger2, #hamburger3 {
  width: 15px;
  height: 2px;
  background-color: white;
  margin: 2px 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.div-1 {
  width: 250px;
  height: 30px;
  color: white;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-content: flex-end;
  position: relative;
  top: 500px;
  left: 130px;
}

.div-2 {
  width: 500px;
  height: 100px;
  color: white;
  font-size: 42px;
  font-family: Arial Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  top: 500px;
  left: 100px;
}

.div-3 {
  width: 180px;
  height: 50px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  top: 500px;
  left: 215px;
  border: 2px solid white;
  box-sizing: border-box;
}

.div-4 {
  position: relative;
  right: 55px;
  font-family: Arial, Helvetica, sans-serif;
}
